<div class="container">
    <h2>Actualizar Cliente</h2>
    <form [formGroup]="form" (ngSubmit)="actualizarCliente()">
      <div class="col-4">
        <label for="nombre">Ingrese el nombre del cliente</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre">
        <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched" class="text-danger">
          El nombre es obligatorio.
        </div>
      </div>
  
      <div class="col-4 mt-2">
        <label for="apepat">Ingrese el apellido paterno</label>
        <input type="text" class="form-control" id="apepat" formControlName="apepat">
        <div *ngIf="form.get('apepat')?.invalid && form.get('apepat')?.touched" class="text-danger">
          El apellido paterno es obligatorio.
        </div>
      </div>
  
      <div class="col-4 mt-2">
        <label for="apemat">Ingrese el apellido materno</label>
        <input type="text" class="form-control" id="apemat" formControlName="apemat">
        <div *ngIf="form.get('apemat')?.invalid && form.get('apemat')?.touched" class="text-danger">
          El apellido materno es obligatorio.
        </div>
      </div>
  
      <div class="col-4 mt-2">
        <label for="telefono">Ingrese el teléfono del cliente</label>
        <input type="text" class="form-control" id="telefono" formControlName="telefono">
        <div *ngIf="form.get('telefono')?.invalid && form.get('telefono')?.touched" class="text-danger">
          El teléfono es obligatorio.
        </div>
      </div>
  
      <div class="col-4 mt-2">
        <label for="correo">Ingrese el correo electrónico</label>
        <input type="email" class="form-control" id="correo" formControlName="correo">
        <div *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched" class="text-danger">
          El correo electrónico es obligatorio y debe ser válido.
        </div>
      </div>
  
      <div class="col-4 mt-2">
        <label for="usuario">Ingrese el usuario</label>
        <input type="text" class="form-control" id="usuario" formControlName="usuario">
        <div *ngIf="form.get('usuario')?.invalid && form.get('usuario')?.touched" class="text-danger">
          El usuario es obligatorio.
        </div>
      </div>
  
      <div class="mt-2">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Actualizar Cliente</button>
      </div>
    </form>
  </div>
  