<div class="container">
    <form (submit)="guardarProducto()" [formGroup]="form">
        <div class="col-4">
            <label for="nombre">Ingrese el nombre del producto</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombreProducto">
        </div>
        <div class="col-4 mt-2">
            <label for="precio">Ingrese el precio del producto</label>
            <input type="number" class="form-control" id="precio" formControlName="precio">
        </div>
        <div class="col-4 mt-2">
            <label for="stock">Ingrese el stock del producto</label>
            <input type="number" class="form-control" id="stock" formControlName="stock">
        </div>
        <div class="col-4 mt-2">
            <label for="categoriaId">Seleccione la categoría del producto</label>
            <select class="form-control" id="categoriaId" formControlName="idCategoria">
                <option value="">Seleccione una categoría</option>
                <!-- Aquí puedes agregar opciones dinámicamente -->
                <option *ngFor="let categoria of listaCategorias" [value]="categoria.id">{{ categoria.nombreCategoria }}</option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-success" [disabled]="!form.valid">Guardar nuevo producto</button>
        </div>
    </form>
</div>
